*{
    margin: 0;
    padding: 0;box-sizing: border-box;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
a{
    text-decoration: none;
    font-size: 13px;
}
body{
    background: url(https://vlzstore.com.br/cdn/shop/files/fundo1_10_-min.jpg?v=1685306962&width=3840) center center no-repeat;
    background-size: cover;
}
main{
  
    display: flex;
    gap: 20px;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
main .tudo{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 80px;
}
main .tudo p{
    color: rgba(255, 255, 255, 0.801);
}
main section{
    background-color: rgba(20, 20, 20, 0.411);
    padding: 30px;
    border-radius: 10px;
    transition: 0.5s;
}
/* main section:hover{
    padding: 40px;
    transition: 0.5s;
} */
main section a{
    color: white;
    border-radius: 10px;
    background-color: rgb(58, 55, 55);
    padding: 10px;
    transition: 0.5s;
    
    
}
main section a:hover{
    padding: 20px;
    transition: 0.5s;
}
main .outros-menbros .menbros{
    display: flex;
    flex-direction: column;
    gap: 10px;

    
}
main .youtube{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 60px;
    
}


@media (max-width: 868px){
   main{
    display: block;
   }
   body{
    background: url(https://vlzstore.com.br/cdn/shop/collections/IMG_1954-min_12.png?v=1685659884&width=1500) center center no-repeat;
   }
}
main .tudo{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}
main .tudo p{
    color: rgba(255, 255, 255, 0.801);
}
main section{
    background-color: rgba(20, 20, 20, 0.411);
    padding: 10px;
    border-radius: 10px;
    transition: 0.5s;
}
/* main section:hover{
    padding: 40px;
    transition: 0.5s;
} */
main section a{
    color: white;
    border-radius: 10px;
    background-color: rgb(71, 67, 67);
    padding: 20px;
    transition: 0.5s;
}
main section a:hover{
    background-color: rgb(68, 68, 155);
}
main section a:hover{
    color: white;
}
main .outros-menbros .menbros{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
main .youtube{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
    
}
